@font-face {
  font-family: 'ASUS ROG';
  src: url('https://db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788b4827e566e2ab.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788b4827e566e2ab.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}